@import '_vars';

* {
	box-sizing: border-box;
}

body {
	margin: 0;
}

#container {
	padding: 10vh 10vw;
}

#editor {
	border: 3px solid #cccccc;
	height: 30vh;
	font-family: $mont;
	font-size: 14px;
	margin: 5vh 0;
	padding: 5px;
	width: 80vw;
}

#preview {
	font-family: $mont;
	line-height: 1.5;

	blockquote {
		margin-block-start: 1em;
		margin-block-end: 1em;
		margin-inline-start: 40px;
		margin-inline-end: 40px;
	}

	h1,
	h2 {
		font-family: $roboto;
	}
}

#title {
	@extend %header;
}
